ai-agent-gmail-sheets-workflow.json
{
  "name": "Remainder Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -96,
        0
      ],
      "id": "dfb7d855-4be3-43bf-92a3-9088d23e904d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1m92wqquwI76LMG-u4frCPooOzkNvxugGlK6iT35kV5c",
          "mode": "list",
          "cachedResultName": "shree_AI task tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1m92wqquwI76LMG-u4frCPooOzkNvxugGlK6iT35kV5c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1943702230,
          "mode": "list",
          "cachedResultName": "Tasks Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1m92wqquwI76LMG-u4frCPooOzkNvxugGlK6iT35kV5c/edit#gid=1943702230"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        144,
        0
      ],
      "id": "9c1458a5-a408-4118-95a0-823202f4761a",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hCy4Q5wc04aKFU1U",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3c40dbf3-e916-425f-921f-257f64f4887d",
              "leftValue": "={{ $json.end_date }}",
              "rightValue": "={{ $('Schedule Trigger').item.json.timestamp }}",
              "operator": {
                "type": "dateTime",
                "operation": "equals"
              }
            },
            {
              "id": "7d374ac7-ce88-486d-a2f2-cf3e5c8e5553",
              "leftValue": "={{ $json.status }}",
              "rightValue": "Completed",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        352,
        0
      ],
      "id": "1228a4b5-fd1f-48ce-b506-db0b7b8ae11a",
      "name": "Filter"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9d888b78-d734-47d2-9e0e-20faa17964eb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6ae80d1328889ff4746a762e31d50552ee40d2e2c6d790f9540baf205cdcf325"
  },
  "nodeGroups": [],
  "id": "ioxxvPFkPHfSkaIV",
  "tags": []
}